<div>
  <div class="errorModal" *ngIf="launchMessageModal">
    <div class="errorModalBody">
      <span class="close" (click)="onClose()">&times;</span>
      {{errorMessage}}
    </div>
  </div>
  <mat-grid-list cols="3" rowHeight="600">
    <mat-grid-tile *ngFor="let ngo of ngoViewModel; let i = index">
      <div class="col-md">
        <mat-card class="example-card">
          <!--(click)="openNgoCard(ngo)"-->
          <mat-card-header>
            <div class="example-header-image">
              <img mat-card-avatar [src]="images[i+1]" alt="Image not available">
            </div>
            <mat-card-title><b>{{ngo.name}}</b></mat-card-title>
            <mat-card-subtitle>{{ngo.description}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="images[i+1]" alt="Image not available">
          <mat-card-content>
            <p>
              <b>We are looking for</b>
              <li *ngFor="let requirement of ngo.requirements">
                {{requirement}}
              </li>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="modalClicked(ngo)">Donate Now</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>