<div>
  <mat-grid-list cols="3" rowHeight="600">
    <mat-grid-tile *ngFor="let ngo of ngoViewModel">
      <div class="col-md">
        <mat-card class="example-card"> <!--(click)="openNgoCard(ngo)"-->
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ngo.name}}</mat-card-title>
            <mat-card-subtitle>{{ngo.description}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Image not available">
          <mat-card-content>
            <p>
              <li *ngFor="let requirement of ngo.requirements">
                {{requirement}}
              </li>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="modalClicked(ngo)">Donate Now</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

