<h2 mat-dialog-title>Donation request for {{this.ngo.name}}</h2>
<mat-dialog-content>
    <div class="donationForm">
        <ol>
            <p> Please enter all the following details </p>
            <li>
                <mat-form-field>
                    <input matInput [(ngModel)]="address" placeholder="Address">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <input matInput [(ngModel)]="contactNumber" placeholder="Contact number">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <input matInput [(ngModel)]="description" placeholder="Description">
                </mat-form-field>
            </li>

            <p> Please fill up the requirements </p>

            <li>
                <mat-form-field>
                    <mat-select [(value)]="requirement" multiple>
                        <mat-option *ngFor="let requirement of requirements" [value]="requirement" placeholder="Requirements">
                            {{requirement}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ol>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!address || !contactNumber || !description" (click)="submitDonations()">
        Submit</button>
</mat-dialog-actions>