<mat-drawer-container class="example-container" autosize>
  <div class="example-sidenav-content">
    <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
      Reviews
    </button>
    <div class="ngoContent">
      <mat-toolbar style="padding:10px">
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">About Us</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Impact</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Get Enrolled</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Latest Updates</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Contact</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Gallery</button></span>
        <span><button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">Feedback</button></span>
      </mat-toolbar>

      <!-- <mat-grid-list [cols]="breakpoint" rowHeight="600" (window:resize)="onResize($event)">
          <mat-grid-tile><span class="ngoImage"><img [src]="image1" width="500px" height="350px" alt="Image not available"></span></mat-grid-tile>
          <mat-grid-tile><span class="ngoImage"><img [src]="image2" width="500px" height="350px" alt="Image not available"></span></mat-grid-tile>
      </mat-grid-list> -->
      <!-- <span>
        Our Next Campaign
      </span> -->
      <span class="ngoImage"><img [src]="image1" width="500px" height="350px" alt="Image not available"></span>
      <span class="ngoImage"><img [src]="image2" width="500px" height="350px" alt="Image not available"></span>
      <br/>
      <div>
        <strong>
          {{ngoIdToLoad.name}} uses the under-utilised and excess urban household material as a tool for rural
          development
          across 23 states in the country. It thus aims to bring an equitable relationship of strength, sustenance and
          dignity between the cities and villages.
          You too have a stake in this collective responsibility. Click here to contribute.{{ngoIdToLoad.name}} uses
          the under-utilised and excess urban household material as a tool for rural
          development
          across 23 states in the country. It thus aims to bring an equitable relationship of strength, sustenance and
          dignity between the cities and villages.
          You too have a stake in this collective responsibility. Click here to contribute.{{ngoIdToLoad.name}} uses
          the under-utilised and excess urban household material as a tool for rural
          development
          across 23 states in the country. It thus aims to bring an equitable relationship of strength, sustenance and
          dignity between the cities and villages.
          You too have a stake in this collective responsibility. Click here to contribute.
        </strong>
      </div>
      <div *ngIf="donateForm">
        <div class="donateFormModal">
          <div class="donationForm">
            <span class="close" (click)="onClose()">&times;</span>
            <ol>
              <p> Please enter all the following details </p>
              <li>
                <mat-form-field>
                  <input matInput [(ngModel)]="address" placeholder="Address">
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <input matInput [(ngModel)]="contactNumber" placeholder="Contact number">
                </mat-form-field>
              </li>
              <li>
                <mat-form-field>
                  <input matInput [(ngModel)]="description" placeholder="Description">
                </mat-form-field>
              </li>

              <p> Please fill up the requirements </p>

              <li>
                <mat-form-field>
                  <mat-select [(value)]="requirement" multiple>
                    <mat-option *ngFor="let requirement of ngoIdToLoad.requirements" [value]="requirement" placeholder="Requirements">
                      {{requirement}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <br />
      <div class="center">
        <button type="button" mat-raised-button color="primary" (click)="donateClicked()">Donate</button>
      </div>
    </div>
  </div>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>What other's say About Us</p>
    <p style="background-color: goldenrod" *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <div (click)="showFiller = !showFiller" >
      Doing a Great job!!
    </div>
  </mat-drawer>
</mat-drawer-container>