.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 2px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    width:100%;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .ngoContent {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    margin-left: auto;
    padding-left: 48%;
    margin: auto;
    display: block;
    margin-right: auto;
  }

  .ngoImage {
      padding:0px;
  }