<mat-toolbar role="heading" color="primary">
  <mat-toolbar-row *ngIf="!showProfile">
    <h1>{{ title }}</h1>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" (click)="loginClicked()">Login</button>
    <button mat-button class="example-icon" (click)="loginClicked()">Signup</button>
  </mat-toolbar-row>
  
  <mat-toolbar-row *ngIf="showProfile">
    <h1>{{ title }}</h1>
    <span class="example-spacer"></span>
    <span>@{{userLoggedIn}}</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-form-field>
      <mat-select [(value)]="selectedCity" (selectionChange)="ngoCitySearchedClicked($event)">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- (click)="ngoSearchedClicked()" to add input tag if need to toggle between screens-->

    <form class="example-form" *ngIf="!loadNgoPage">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search" aria-label="Assignee" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar-row>

</mat-toolbar>



<div *ngIf="!loadNgoPage">
  <app-ngo-list [citySelected]="selectedCity" [loggedInUser]="userLoggedIn" (ngoNames)="getNgoNames($event)"
    (ngoSelected)="loadNgo($event)"></app-ngo-list>
</div>
<div *ngIf="loadNgoPage">
  <app-ngo-view [ngoIdToLoad]="loadNgoId"></app-ngo-view>
</div>


<div *ngIf="launchLogin">
  <app-login-signup (loginModalClosed)="updateLoginModalStatus()" (loginModalEvent)="loginEvent($event)"></app-login-signup>
</div>